.example-spacer {
    flex: 1 1 auto;
  }
  
  /* .profile {
    /* background-image: url('https://material.angular.io/assets/img/examples/sunflower.jpg'); */
    /* background-size: cover; */
    /* width: 100px; */
    /* height: 50px; */
    /* position: relative; */
    /* border-radius: 100%; */
    /* right: 70%; */
  /* }  */
  .example-card {
    max-width: 400px;
  }
  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/sunflower.jpg');
    background-size: cover;
    
   
  }
  
      img {
        height: 50px;
        width: 50px;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        right: 55%;
      }

      .navbar{
        background-color: rgb(247, 108, 108);
      }
    