.container {
    padding-top: 10px;
    align-items: center;
}

.row {
    display: list-item;
    gap: 10px
}

mat-form-field {
    width: 60%;
}

.class{
    text-align: center;
}

form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    align-items: center;
}

.content{
    border: 2px solid grey;
    width: 25%;
    margin: 5em auto;
    padding: 2em;

}

mat-form-field{
    width: 100%;
}

.btn{
    margin-left: 15%;
    width: 70%;
}

.login{
    text-align: center;
    margin-top: 10px;
}

