<!-- <app-navbar></app-navbar> -->

<div class="card-head class" >
    <h2>SIGN UP</h2>
    <p>Create your new account.</p>
</div>

<div >

<div mat-dialog-content class="container">
  <div class="card">

 

     <mat-form-field id="username" appearance="outline">

        <mat-label for="username">username</mat-label>
        <input matInput required="true" [(ngModel)]="registerForm.username" />
        
    </mat-form-field>

    <mat-form-field id="email" appearance="outline">
        <mat-label for="email">Email</mat-label>
        <input matInput  required="true" [(ngModel)]="registerForm.email" />
    </mat-form-field>

    <mat-form-field id="password" appearance="outline">
        <mat-label for="password">Password</mat-label>
        <input matInput  required="true" [(ngModel)]="registerForm.password"/>
    </mat-form-field>


    <mat-dialog-actions>
      <button mat-raised-button color="primary" type="button" (click)="register()">Register</button>
      <p class="login">Already have an account? <a href="/login">Login</a>.</p>
    </mat-dialog-actions>

  </div>
</div>
</div>


