<div class="container">
  <div class="card">

      <div class="card-head">
          <h2>WELCOME BACK.</h2>
          <p>Login to your account</p>
      </div>
      <form action="" name="form" (ngSubmit)="f.form.valid && logIn()" #f="ngForm" novalidate>
          <input type="text" placeholder="*Username" 
          type="text" name="username" 
          class="form-control" id="emailInput"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel" required
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }">
          

          <input type="password" placeholder="*Password" 
          type="password" 
          name="password" class="form-control" 
          id="passwordInput"
          [(ngModel)]="form.password"
          required
          minlength="8"
          #password="ngModel" required
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }" >
          
      </form>

      <button (click)="logIn()">Login</button>
      <p class="login">Don`t have an account? <a href="/register">Register</a>.</p>
  </div>
</div>


 
  

