<!-- <div class="container">
    <div class="card">

        <div class="card-head">
            <h2>SIGN UP</h2>
            <p>Create your new account.</p>
        </div>
        <form action="">
            <input type="text" placeholder="*Username" >
            <input type="email" placeholder="*Email" >

            <input type="password" placeholder="*Password" >
            <input type="password" placeholder="*Confirm password ">
        </form>

        <button>Register</button>
        <p class="login">Already have an account? <a href="">Login</a>.</p>
    </div>
</div> -->

<button (click)="toggleLike()" [class.liked]="isLiked">
    <span [class]="isLiked ? 'heart-icon liked' : 'heart-icon'">&#10084;</span>
    {{ likeCount }}
  </button>
  
  <button (click)="toggleCommentInput()">
    <span [class]="showCommentInput ? 'comment-icon active' : 'comment-icon'">&#128172;</span>
    
  </button>
  <div *ngIf="showCommentInput" class="comment-input">
    <textarea placeholder="Add a comment..." [(ngModel)]="commentText"></textarea>
    <button (click)="postComment()">Post</button>
  </div>
  