<app-navbar></app-navbar>
<h2>Hello {{loggedInUser}}</h2>
<h1 class="feed">FEED</h1>

<div class="container">
  <mat-card class="post-card" *ngFor="let post of posts">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <p>{{post.user}}</p>
      <mat-card-title>{{post.name}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="image" src="{{post.image}}" alt="">

    <mat-card-content>
      <p>{{post.caption}}</p>
    </mat-card-content>

    <mat-card-actions>



      <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>