/* body{
    background-color: blueviolet;
} */

.example-card {
    max-width: 400px;
    position: relative;
    left: 70px;
    top: 50px;
    
  }
  
  .example-header-image {
    /* background-image: url(); */
    background-size: cover;
  }

  .like{
    width: 30px;
    position: relative;
  }
  
  .chat{
    width: 27px;
    position: relative;
    left: 20px;
  }

  .delete{
    width: 30px;
    position: relative;
    bottom: 305px;
    left: 305px;
  }