<app-navbar></app-navbar>

<nav>
  <button mat-raised-button><a routerLink="/view">FEED</a></button>
  <button mat-raised-button><a routerLink="/my-posts">MY POSTS</a></button>
</nav>

<div class="container">
  <mat-card class="post-card" *ngFor="let post of posts">
    <mat-card-header>
      <p>{{post.user}}</p>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{post.username}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="image" src="{{post.image}}" alt="">

    <mat-card-content>
      <p>{{post.caption}}</p>
    </mat-card-content>

    <mat-card-actions>
      <!-- <span><app-like></app-like></span> -->
      <span>
        <button (click)="toggleLike(post._id)" (click) = "getPost(post._id)" [class.liked]="isLiked">
          <span [class]="isLiked ? 'heart-icon liked' : 'heart-icon'">&#10084;</span>
        </button>
        {{getLikes}}
      </span>
      <span><app-comment></app-comment> </span>
    </mat-card-actions>
  </mat-card>
</div>