
<app-navbar></app-navbar>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Vuyo</mat-card-title>
      <mat-card-subtitle>14:30</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/mirabel.jpg" alt="Photo of Mirabel">
    <mat-card-content>
      <p>Caption</p>
    
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button>LIKE</button>
      <button mat-button>SHARE</button> -->
      <img src="../../assets/favorite_FILL0_wght400_GRAD0_opsz24.svg" class="like">
      <img src="../../assets/chat.svg" class="chat">
      <img src="../../assets/x.svg"  class="delete" (click)="deletePost(availableImages.id)">
    </mat-card-actions>
  </mat-card>

 


<!-- <app-navbar></app-navbar> -->

