.post-card {
    max-width: 400px;
    border: 1px solid #fff;
    margin: 10px auto;
  }
  
  .image {
    max-height: 300px;
    padding-bottom: 20px;
  }
  
  .example-header-image {
    background-image: url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.pnghttps://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png);
    background-size: cover;
  }

  .like{
    width: 30px;
    position: relative;
  }
  
  .chat{
    width: 27px;
    position: relative;
    left: 20px;
  }

  .delete{
    width: 30px;
    position: relative;
    bottom: 305px;
    left: 305px;
  }

  .feed{
    display: flex;
    justify-content: center;
    text-decoration: solid;
    text-size-adjust: 150px;
  }

  .container {
    border: 1px solid #fff;
    width: 50%;
    margin: 0 auto;
    background-color: rgb(122, 108, 247);
  }

<<<<<<< HEAD
  .example-spacer {
    flex: 1 1 auto;
  }
  
  nav a {
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .active {
    color: blue;
  }
  
  nav {
    width: 30em;
    display: flex;
    justify-content: space-around;
    margin: 2em auto;
=======
  h2{
    position: relative;
    left: 70px;
    font-style: italic;
>>>>>>> 94b09c3e654fa2beedcb14fd0cf81f54f163d86d
  }

  